POSTGRES_USER=some_user_name
POSTGRES_PASSWORD=a_very_secure_secret
POSTGRES_DB=postgres_db_tanstart_barren

# Overwrites the database url in .env in the root with the one for the composed app container.
# The user, password and db should match the ones above. The server is db - as specified in the
# compose yaml, and the port is the internal port for the db, not the external one.
DATABASE_URL=postgres://some_user_name:a_very_secure_secret@db:5432/postgres_db_tanstart_barren
